.menu {
    display: flex;
    flex-direction: column;
    background-color: #00ffff;
    width: 300px;
    padding: 10px;
    
}
.settings {
    background-color: #139696;
}
h2 {
    color: white;
    display: flex;
    padding: 10px;
    
}
.menu_itm, .menu_itm1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
img {
    width: 45px;
    height: 45px;
}
.menu_itm1 {
    background-color: #2da5a5;
}
h2 {
    text-transform: uppercase;
}

